<article class="scpl-bookmarklet">
  <header>
    <h1>Select playlist</h1>
  </header>

  <section>
    <ul>
      <%- @playlists.each do |playlist| -%>
        <li data-playlist-id="<%= playlist.id %>"><%= playlist.title %></li>
      <%- end -%>
    </ul>
  </section>
</article>

<style>
  .scpl-bookmarklet {
    border-radius: 8px;
    border: 5px solid #666;
  }

  .scpl-bookmarklet header {
    padding: 6px;
    border-bottom: 5px solid #eee;
  }

  .scpl-bookmarklet ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .scpl-bookmarklet h1 {
    text-transform: uppercase;
  }

  .scpl-bookmarklet li {
    padding: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.6em;
  }

  .scpl-bookmarklet li:hover {
    color: #f60;
  }
</style>
