(function ($) {
  if (document.location.host !== 'soundcloud.com') return

  var elem = $("<%= j render 'playlists', playlists: @playlists %>"),
      topPos = $('body').scrollTop() + 100,
      elemWidth = 400,
      pageWidth = $(document).width(),
      pageHeight = $(document).height(),
      leftPos = (pageWidth - elemWidth) / 2,
      mask = $('<div>', {'class': 'scpl-mask'})

  var remove = function () {
    elem.remove()
    mask.remove()
  }

  var resolveTrack = function (e) {
    var playlistId = $(e.target).data('playlist-id'),
        url = 'http://<%= hostname %>/playlists/' + playlistId + '/tracks/resolve'

    $.post(url, {soundcloud_url: document.location.href}, remove)
  }

  elem.on('click', 'li', resolveTrack)

  elem.css({
    'position': 'absolute',
    'top': topPos,
    'left': leftPos,
    'width': elemWidth,
    'z-index': 2,
    'background-color': 'white'
  })

  mask.on('click', remove)

  mask.css({
    'opacity': 0.9,
    'background-color': 'black',
    'position': 'absolute',
    'width': pageWidth,
    'height': pageHeight,
    'z-index': 1,
    'top': 0,
    'left': 0
  })

  $('body').append(mask)
  $('body').append(elem)

})(jQuery)
