.main-header {
  padding: 6px;

  background-color: #ff7d00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 125, 0)), to(rgb(255, 147, 0)));
  background-image: -webkit-linear-gradient(top, rgb(255, 125, 0), rgb(255, 147, 0));
  background-image: -moz-linear-gradient(top, rgb(255, 125, 0), rgb(255, 147, 0));
  background-image: -o-linear-gradient(top, rgb(255, 125, 0), rgb(255, 147, 0));
  background-image: linear-gradient(top, rgb(255, 125, 0), rgb(255, 147, 0));

  color: white;

  border-bottom: 1px solid #5C2509;

  .left {
    float: left;
    width: 400px;
  }

  .right {
    float: left;
    width: 228px;
  }

  .new-playlist {
    width: 228px;
  }

  .bookmarklet {
    text-align: center;
    box-shadow: inset 1px 1px 2px #ccc;
    border: 1px solid #333;
    background-color: #eee;
    padding: 4px;
    border-radius: 3px;
    font-size: 0.7em;
    background-color: white;
  }

  .bookmarklet small {
    display: block;
    color: #333;
  }
}
