.player {
  border-top: 1px solid #ccc;
  background-color: #919191;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(145, 145, 145)), to(rgb(115, 115, 115)));
  background-image: -webkit-linear-gradient(top, rgb(145, 145, 145), rgb(115, 115, 115));
  background-image: -moz-linear-gradient(top, rgb(145, 145, 145), rgb(115, 115, 115));
  background-image: -o-linear-gradient(top, rgb(145, 145, 145), rgb(115, 115, 115));
  background-image: linear-gradient(top, rgb(145, 145, 145), rgb(115, 115, 115));

  padding-top: 6px;
  h2 {
    margin: 0;
    font-size: 1em;
  }

  .pause {
    display: none;
  }

  &.is-playing {
    .pause {
      display: inline;
    }

    .play {
      display: none;
    }
  }

  header {
    padding: 0 6px;
  }

  nav {
    padding: 6px 0;
  }

  nav li {
    display: inline;
  }

  .progress-outer {
    background-color: black;
  }

  .progress-inner {
    border: 1px solid #333;
    height: 4px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #ff7d00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 125, 0)), to(rgb(255, 147, 0)));
    background-image: -webkit-linear-gradient(top, rgb(255, 125, 0), rgb(255, 147, 0));
    background-image: -moz-linear-gradient(top, rgb(255, 125, 0), rgb(255, 147, 0));
    background-image: -o-linear-gradient(top, rgb(255, 125, 0), rgb(255, 147, 0));
    background-image: linear-gradient(top, rgb(255, 125, 0), rgb(255, 147, 0));
  }
}
