.playlist {
  border-bottom: 1px solid black;
  position: relative;

  .details {
    display: block;
  }

  form {
    display: none;
  }

  &.is-editing {
    form {
      display: block;
    }

    .details {
      display: none;
    }
  }

  header {
    background-color: #363636;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(54, 54, 54)), to(rgb(27, 27, 27)));
    background-image: -webkit-linear-gradient(top, rgb(54, 54, 54), rgb(27, 27, 27));
    background-image: -moz-linear-gradient(top, rgb(54, 54, 54), rgb(27, 27, 27));
    background-image: -o-linear-gradient(top, rgb(54, 54, 54), rgb(27, 27, 27));
    background-image: linear-gradient(top, rgb(54, 54, 54), rgb(27, 27, 27));

    border-top: 1px solid #666;
    border-bottom: 1px solid #aaa;
    color: white;
    padding: 6px;
  }

  header h1, header h2 {
    margin: 0;
    margin-bottom: 4px;
  }

  header h2 {
    font-size: 0.8em;
  }

  nav .track-search {
    float: right;
  }

  & > article > nav {
    border-bottom: 1px solid #333;
    background-color: #919191;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(145, 145, 145)), to(rgb(115, 115, 115)));
    background-image: -webkit-linear-gradient(top, rgb(145, 145, 145), rgb(115, 115, 115));
    background-image: -moz-linear-gradient(top, rgb(145, 145, 145), rgb(115, 115, 115));
    background-image: -o-linear-gradient(top, rgb(145, 145, 145), rgb(115, 115, 115));
    background-image: linear-gradient(top, rgb(145, 145, 145), rgb(115, 115, 115));
    padding: 6px 0;
  }
}
