.search-results {
  box-shadow: -2px 2px 10px #333;
  max-height: 300px;
  z-index: 2;
  overflow-y: scroll;
  position: absolute;
  width: 400px;
  right: 0px;
  top: 99px;
  background-color: white;
  border: 1px solid black;
}
