.search-result {
  border-bottom: 1px solid #333;
  cursor: pointer;

  border-top: 1px solid #eee;
  border-bottom: 1px solid #333;

  background-color: #d2d1d3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 209, 211)), to(rgb(196, 195, 197)));
  background-image: -webkit-linear-gradient(top, rgb(210, 209, 211), rgb(196, 195, 197));
  background-image: -moz-linear-gradient(top, rgb(210, 209, 211), rgb(196, 195, 197));
  background-image: -o-linear-gradient(top, rgb(210, 209, 211), rgb(196, 195, 197));
  background-image: linear-gradient(top, rgb(210, 209, 211), rgb(196, 195, 197));

  &:hover {
    color: #f60;
  }

  h2 {
    padding-left: 45px;
    padding-top: 12px;
    font-size: 0.8em !important;
    margin: 0;
  }

  img {
    float: left;
    height: 40px;
  }
}
