.track {
  height: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #333;
  padding: 6px;


  background-color: #d2d1d3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 209, 211)), to(rgb(196, 195, 197)));
  background-image: -webkit-linear-gradient(top, rgb(210, 209, 211), rgb(196, 195, 197));
  background-image: -moz-linear-gradient(top, rgb(210, 209, 211), rgb(196, 195, 197));
  background-image: -o-linear-gradient(top, rgb(210, 209, 211), rgb(196, 195, 197));
  background-image: linear-gradient(top, rgb(210, 209, 211), rgb(196, 195, 197));

  .pause {
    display: none;
  }

  &.is-playing {
    .pause {
      display: inline;
    }

    .play {
      display: none;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
  }

  ul li {
    display: inline;
  }
}
