body {
  font-family: Helvetica;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQIW2NkAIJ37979FxISYmQEMUACIMCILAMA85cLzfDiRgoAAAAASUVORK5CYII=);
}

.clear {
  clear: both;
}

.wrapper {
  width: 640px;
  margin: 0 auto;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

