<% content_for :head do %>
  <script>
    var playlistJSON = <%= raw @playlists.to_json(include: :tracks) %>
  </script>
<% end %>

<header class="main-header">
  <div class="left">
    <h1>Playlist App</h1>
  </div>
  <div class="right">
    <nav class="toolbar">
      <ul>
        <li class="bookmarklet">
          <a href="javascript:var script = document.createElement('script'); script.src = '//<%= hostname %>/bookmarklet.js'; document.head.appendChild(script)" title="drag me to you bookmarklet bar">Add to playlist</a>
          <small>Drag to your bookmark bar</small>
        </li>
        <li><button href="#" class="new-playlist">New Playlist</button></li>
      </ul>
    </nav>
  </div>
  <div class="clear"></div>
</header>

<div class="player-container"></div>

<ul class="playlists"></ul>
