<article class="player is-playing">
  <header>
    <h2>Now playing: <span class="track-title">{{title}}</span></h2>
  </header>

  <nav>
    <ul>
      <li><button class="pause">Pause</button></li>
      <li><button class="play">Play</button></li>
      <li><button class="next">Next</button></li>
    </ul>
  </nav>

  <div class="progress-outer">
    <div class="progress-inner"></div>
  </div>
</article>
