<article>
  <header>
    <div class="details">
      <h1 data-bind-text="title">{{title}}</h1>
      <h2 data-bind-text="description">{{description}}</h2>
    </div>

    <form>
      <input type="text" name="title" placeholder="Title" data-bind-val="title" value="{{title}}"></input>
      <input type="text" name="description" placeholder="Description" data-bind-val="description" value="{{description}}"></input>
      <input type="submit" value="Save"></input>
      <button class="cancel">Cancel</button>
    </form>
  </header>

  <nav>
    <button class="edit">Edit</button>
    <button class="delete">Delete</button>

    <section class="track-search">
      <input type="search" placeholder="Search&hellip;"></input>
    </section>
  </nav>

  <section class="tracks">
    <ul></ul>
  </section>
</article>
