<article class="track">
  <h3>{{title}}</h3>
  <nav>
    <ul>
      <li><button class="play">Play</button></li>
      <li><button class="pause">Pause</button></li>
      <li><button class="delete">Delete</button></li>
    </ul>
  </nav>
</article>
