<!DOCTYPE html>
<html>
<head>
  <title>Scpl</title>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script>
    SC.initialize({
      client_id: '<%= CONFIG["soundcloud"]["client_id"] %>'
    })
  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

  <div class="wrapper">
    <%= yield %>
  </div>

</body>
<%= requirejs_include_tag "application" %>
</html>
